.container {
  display: flex;
  background-color: DodgerBlue;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.box{
    background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
  
}

.box1 {
    order: 3;
    background-color: cyan;
}

.box2{
    flex-grow: 4;
}