body{
    background-color:  black;
}


.container {
  display: flex;
  background-color: gray;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.box{
    background-color: lightslategray;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
  
}

.box1 {
    order: 3;
    background-color: lightslategray;
}

.box2{
    flex-grow: 4;
}